@import 'base/base';
@import 'variables/colors';

$center: 0 auto;

* {
  color: $app-text-color;
}

a {
  text-decoration: none;
}

html {
  input {
    margin: 0;
    text-align: center;
  }
}

::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from($app-background-darker), to($app-background)) fixed;
}

.nav-wrapper {
  background-color: $app-background-darker;
}

.sidenav {
  background-color: $app-background-darker;

  li > a {
    color: $app-text-color;
  }
}

table.striped > tbody > tr {
  &:nth-child(odd) {
    background-color: $table-stripe-color;
  }

  &:hover {
    background-color: $table-hover-color;
  }
}

.rel {
  position: relative;
}

.card {
  background-color: $card-color;
  border-radius: 5px;
  margin: 30px 0;
}

.card-collapsible {
  background-color: $card-collapsible-color;
}

.keyboard-focused .collapsible-header:focus {
  background-color: $app-background-lighter;
}

.fraction-submit, .scraper-submit {
  padding-top: 20px;
  text-align: center;
}

.fraction-separator {
  font-size: 30px;
  padding: 0 10px;

  &.small {
    font-size: 20px;
  }
}

.ordinal-number {
  bottom: 0;
  color: $table-ordinal-number-color;
  left: 0;
  position: absolute;
}

tbody > tr:not(:first-child) .ordinal-number {
  top: .5rem;
}

.card-title.center {
  font-size: 2rem;
}

.range-field {
  margin: 10px;
}

.extra-data {
  color: $extra-data-color;
}

.result-table.striped {
  table-layout: fixed;

  th {
    width: 100%;
  }

  tbody > tr:first-child {
    background-color: $original-fraction;
  }
}

.expand-fraction-form {
  padding-bottom: 10px;

  i {
    cursor: default;
  }
}
