<form id="fraction-form" action="" method="post">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <div class="form-inline tooltipped" data-position="left" data-tooltip="Target fraction">
        <div class="input-group fraction-input fraction-input-numerator">
            {{ form.visible_fields.0 }}
        </div>
        <span class="fraction-separator">/</span>
        <div class="input-group fraction-input fraction-input-denominator">
            {{ form.visible_fields.1 }}
        </div>
    </div>

    <div id="fraction-form-collapsible" class="collapse">
        <div class="form-inline tooltipped" data-position="left" data-tooltip="Maximum fraction">
            <div class="input-group max-numerator">
                {{ form.visible_fields.4 }}
            </div>
            <span class="fraction-separator">/</span>
            <div class="input-group max-denominator">
                {{ form.visible_fields.5 }}
            </div>
        </div>
        <div class="input-group first-n tooltipped" data-position="left" data-tooltip="Number of results">
            {{ form.visible_fields.2 }}
        </div>
        <div class="input-group precision tooltipped" data-position="left" data-tooltip="Number of decimal places">
            {{ form.visible_fields.3 }}
        </div>
    </div>
</form>

<div class="fraction-submit">
    <button id="fraction-submit" type="submit" class="red darken-4 waves-effect waves-light btn center" form="fraction-form">Undercut</button>
</div>