{% extends "undercuttrer/includes/card.html" %}

{% block title %}
    Input a ratio to surpass
{% endblock %}

{% block content %}
    <div class="center-align">
        <div style="display: inline-block;">
            {% include "undercuttrer/includes/fraction-form.html" %}
        </div>
    </div>
{% endblock %}

{% block expand-interior %}
    <div class="expand-fraction-form center" data-toggle="collapse" data-target="#fraction-form-collapsible" aria-expanded="false" aria-controls="fraction-form-collapsible">
        <i id="expand-fraction-form-icon" class="fas fa-chevron-down small"></i>
    </div>

    <script>
        let formExpandToggle = false;
        $('div[data-target="#fraction-form-collapsible"]').click(function (event) {
            event.stopPropagation();
            $('#fraction-form-collapsible').collapse('toggle');
            formExpandToggle = !formExpandToggle;

            let options = {};
            if (formExpandToggle) {
                options = {
                    from: 'fa-chevron-down',
                    to: 'fa-chevron-up',
                    animation: 'verticalFlip',
                    duration: 250
                };
            } else {
                options = {
                    from: 'fa-chevron-up',
                    to: 'fa-chevron-down',
                    animation: 'verticalFlip',
                    duration: 250
                };
            }

            iconate(document.getElementById('expand-fraction-form-icon'), options);
        });
    </script>
{% endblock %}

{% block collapsible-id %}fraction-card-collapsible{% endblock %}

{% block collapsible %}
    <p>Explination</p>
{% endblock %}

