{% extends "undercuttrer/includes/card.html" %}

{% load humanize %}

{% block title %}
    Sell <span class="sell-currency yellow-text">{{ data.fractions.0.numerator }}</span> for <span class="sell-currency yellow-text">{{ data.fractions.0.denominator }}</span>
{% endblock %}

{% block content %}
    <table class="result-table centered highlight striped">
        <thead>
        <tr>
            <th>Left ratio</th>
            <th>Fraction</th>
            <th>Right ratio</th>
        </tr>
        </thead>

        <tbody>
        {% for fraction in data.fractions %}
            <tr>
                <td>
                    <div class="rel">
                        <span class="ordinal-number">
                            {{ forloop.counter | ordinal }}
                        </span>

                        {% include "undercuttrer/includes/table-fraction-ratio.html" with ratio=fraction.ratio ratio_diff=fraction.ratio_diff ratio_diff_total=fraction.ratio_diff_total %}
                    </div>
                </td>
                <td>
                    <span class="fraction-numerator">{{ fraction.numerator }}</span>
                    <span class="fraction-separator small">/</span>
                    <span class="fraction-denominator">{{ fraction.denominator }}</span>
                </td>
                <td>
                    {% include "undercuttrer/includes/table-fraction-ratio.html" with ratio=fraction.inverse_ratio ratio_diff=fraction.inverse_ratio_diff ratio_diff_total=fraction.inverse_ratio_diff_total %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block collapsible-id %}table-card-collapsible{% endblock %}

{% block collapsible %}
    Checked <span class="extra-data">{{ data.iterations | intcomma }}</span> combinations and it took <span class="extra-data">{{ data.time }}</span> to process your request
{% endblock %}

