$app-background: #202020;
$app-background-lighter: #2a2a2a;
$app-background-darker: #161616;
$app-text-color: #e0e0e0;

$table-hover-color: #3a3a3a;
$table-stripe-color: #2d2d2d;
$table-ordinal-number-color: #5a5a5a;

$card-color: $app-background-lighter;
$card-collapsible-color: darken($card-color, 5);

$extra-data-color: #a4adff;
