<form id="fraction-form" action="" method="post">
    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <div class="form-inline">
        <div class="input-group currency-sell tooltipped" data-position="left" data-tooltip="Sell">
            {{ form.visible_fields.0 }}
        </div>
        <span class="fraction-separator">/</span>
        <div class="input-group currency-buy tooltipped" data-position="right" data-tooltip="Buy">
            {{ form.visible_fields.1 }}
        </div>
    </div>

    <div class="form-inline">
        <div class="input-group fraction-input max-denominator tooltipped" data-position="left" data-tooltip="Maximum sell">
            {{ form.visible_fields.2 }}
        </div>
        <span class="fraction-separator">/</span>
        <div class="input-group fraction-input max-numerator tooltipped" data-position="right" data-tooltip="Maximum buy">
            {{ form.visible_fields.3 }}
        </div>
    </div>

    <div id="fraction-form-collapsible" class="collapse">
        <div class="league tooltipped" data-position="left" data-tooltip="League">
            {{ form.visible_fields.4 }}
        </div>
    </div>
</form>

<div class="fraction-submit">
    <button id="fraction-submit" type="submit" class="red darken-4 waves-effect waves-light btn center" form="fraction-form">Undercut</button>
</div>