{% load kwacros %}

{% kwacro collapsible-id %}{% block collapsible-id %}{% endblock %}{% endkwacro %}

<div class="card" data-toggle="collapse" data-target="#{% usekwacro collapsible-id %}" aria-expanded="false" aria-controls="{% usekwacro collapsible-id %}">
    <div class="card-title center">
        <div>{% block title %}{% endblock %}</div>
    </div>

    <div class="card-content">
        {% block content %}{% endblock %}
    </div>

    <div>
        {% block expand-interior %}{% endblock %}
    </div>

    <div id="{% usekwacro collapsible-id %}" class="card-collapsible collapse">
        <div style="padding: 2rem;">
            {% block collapsible %}{% endblock %}
        </div>
    </div>
</div>


